1062741484-preview.mp4
ankit_test.py
car-damage-coco-dataset.v4i.yolov5pytorch (1).zip
car.jpg
h.py
Image_screenshot_11.01.2024.png
istockphoto-948688042-640_adpp_is.mp4
main.py
MAIN.py
output-preview.mp4
practice.py
temp_video.mp4
test.py
test1.py
test3.py
uploaded_video.mp4
venv/
best/
test_venv/
